# Python Basic

In [4]:
print('Hello world')

Hello world

In [5]:
# print() is keyword which is used to display the output whateven you write inside the print.
print('Rishav')

Rishav

In [6]:
print('Aman')

Aman

In [7]:
# how to check python version in jupyter 

import sys   # sys-> system.

print(sys.version)

3.12.2 (tags/v3.12.2:6abddd9, Feb  6 2024, 21:26:36) [MSC v.1937 64 bit (AMD64)]

In [12]:
# how to write comment in python 3

# quotes 
# ''  <- single quotes
# "" <- doubel quotes

# ''' '''  <- trimple single quotes  # multiple line comment.
# """ """  <- trimple double quotes.

In [13]:
print('Hello world')

Hello world

In [14]:
print('Hi,python')

Hi,python

In [15]:
print("Hello world")

Hello world

In [16]:
print("Hy, python")

Hy, python

In [18]:
'c'

'c'

In [21]:
print("Rishav")

Rishav

In [22]:
print('Rishav')

Rishav

In [24]:
# difference of single and double quotes.

print('What''s your name?')

Whats your name?

In [25]:
print("what's your name?")

what's your name?

In [26]:
print('What"s your name?')

What"s your name?

In [5]:
# Integer: 
print(100)
print(365)
print(200)

# float
print(100.23)
print(100.0)
print(200.56)

# string
print('100')
print('Hello world')
print('500.0')

# boolean
print(True)   # 1
print(False)  # 0

100
365
200
100.23
100.0
200.56
100
Hello world
500.0
True
False

# type() function

In [14]:
x= 100
print(x)
print(type(x))

# string
x='100'
print(x)
print(type(x))


# float
x=100.0
print(x)
print(type(x))

#Boolean
x1=True
print(x1)
print(type(x1))

x2=False
print(x2)
print(type(x2))

100
<class 'int'>
100
<class 'str'>
100.0
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>

In [16]:
# string and integer

print('100'+'100')

100100

In [17]:
print(100+100)

200

In [18]:
print(100.23+100)

200.23000000000002

In [19]:
print(True+True)

2

In [21]:
print(int(True))

1

In [22]:
print(int(False))

0

In [23]:
print(True*False)

0

In [24]:
print(True+True/False)

ZeroDivisionError: division by zero

In [25]:
1/0

ZeroDivisionError: division by zero

In [28]:
# Data type casting

# variable:- 

x1="Hello world"
x1

'Hello world'

In [33]:
# data typecasting
num=100
print(num)
print(type(num))


# changing in float
float1=float(num)
print(float1)
print(type(float1))


# changing in string
str1=str(num)
print(str1)
print(type(str1))

100
<class 'int'>
100.0
<class 'float'>
100
<class 'str'>

In [34]:
num1= 100.56 # str,int,  =4

num2=True  # str,int,float = 6

num3=False # str,int,float =6

In [35]:
# Basic calculation

add1=45+45
print(add1)

90

In [36]:
# substraction

sub1=100-125
print(sub1)

-25

In [37]:
# Multiplication
mul1=45*5
print(mul1)

225

In [38]:
# Division

div1=45/5
print(div1)

9.0

In [39]:
# floor division

div1=45//5
print(div1)

9

In [41]:
# Modulus

mod1=3%2
print(mod1)

1

In [42]:
mod2=2%2
print(mod2)

0

In [43]:
div1=3/2  
print(div1)

1.5

In [44]:
div2=3//2
print(div2)

1

In [45]:
# Exponent

expo1=2**2
expo1

4

In [46]:
expo2=2**4
expo2

16

In [48]:
# An Example calculate how many minutes are there in 50 hrs.

one_hrs=60    # mint
hrs = 50   # hrs

minutes=hrs*one_hrs
print('Total Minutes in 50 hrs',minutes,'minutes')

Total Minutes in 50 hrs 3000 minutes

In [50]:
# an Example let's calculate how many hours are there in 548 minutes?

one_hrs= 60    # mint
minutes= 548   

hours= minutes//one_hrs
print('Hours:',hours)

Hours: 9

In [56]:
num=100    # integer
print(num)
print(type(num))
print(float(num))
print(type(float(num)))

print(str(num))
print(type(str(num)))

100
<class 'int'>
100.0
<class 'float'>
100
<class 'str'>