# 14. Lambda Functions in Python

 * __A Lambda function is a small anonymous functions.__
 * __A Lambda function can take any number of arguments, but can only have one expressions.__
 * __The expression is evveluated and returned.__
 * __Lambda functions can be used wherever function objects are required.__
 * __Lambda Expression(or lambda functions) are essentially block of code that can be assigned to variable, passed as an arguements, or returned from a function call, in Language that support high-order functions.__
 * __The main role of lambda function is better described in the scenarios when we employ them anonymously inside another functions.__
 * __n Python, the Lambda function can be utilized as an arguments to their high-order funcitions as an arguements.__
 * __Lambda function in Python__
    * __1.Syntax__
       * __Normal Functions.__
       * __Anonymous Functions.__
    * __2. Usages__
       * __Lambda with filters()__
       * __Lambda with map()__
       * __Lambda with reduce()__
       * __Lambda with apply()__
    * __3.CommonError__
       * __SyntaxError__
       * __TypeError__

In [1]:
# user defined function
def func(x):
    return x+10

func(10)

20

In [2]:
# anonymous function
(lambda x:x+10)(10)

20

In [3]:
func(20)

30

In [4]:
# user input

def add(x,y):
    return x+y


user1=int(input('Enter first value:'))
user2=int(input('Enter second value:'))
add(user1,user2)

Enter first value: 10
Enter second value: 20

30

In [9]:
u1=int(input('Enter first number:'))
u2=int(input('Enter second number:'))
(lambda x,y:x+y)(u1,u2)

Enter first number: 10
Enter second number: 20

30

# Lambda Filter()
 * __A high order function__
 * __syntax: filter(functions,sequence)__
    * __It applies function to each element of sequence and returns for which the function returns true.__
    * __filter returns a subset sequence.__
       * __to generate the actual list, we need to apply list.__

In [12]:
# even or odd 
list1=[10,20,30,50,25,26,78,79,45,45,62,53,51,1001,102,103]

def even_odd():
    even=[]
    odd=[]
    for i in list1:
        if i%2==0:
            even.append(i)
        else:
            odd.append(i)
    print('Even=',even,"\nOdd=",odd)
even_odd()

Even= [10, 20, 30, 50, 26, 78, 62, 102]
Odd= [25, 79, 45, 45, 53, 51, 1001, 103]

In [15]:
list1=[10,20,30,50,25,26,78,79,45,45,62,53,51,1001,102,103]


even=list(filter(lambda x:x%2==0,list1))
print(even)
odd=list(filter(lambda y:y%2!=0,list1))
print(odd)

[10, 20, 30, 50, 26, 78, 62, 102]
[25, 79, 45, 45, 53, 51, 1001, 103]

In [19]:
# wap to fitler the given list to determine if the values in the list have length is greater than 6.

weekdays=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]

def weekday():
    filtered_list=[]
    for i in weekdays:
        if len(i)>6:
            filtered_list.append(i)

    print(filtered_list)


weekday()

['Tuesday', 'Wednesday', 'Thursday', 'Saturday']

In [20]:
# using lambda.
weekdays=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
weekdays1=list(filter(lambda x1:len(x1)>6,weekdays))
weekdays1

['Tuesday', 'Wednesday', 'Thursday', 'Saturday']

In [23]:
import datetime

In [31]:
x=datetime.datetime.now()
x

datetime.datetime(2024, 7, 22, 18, 59, 13, 682021)

In [32]:
x

datetime.datetime(2024, 7, 22, 18, 59, 13, 682021)

# map() functions

 * __A high-order function__
 * __syntax: map(function, sequence)__
 * __applies function to each element of sequence and returns the result__

In [39]:
list2=[1,20,50,55,69,58,78,96,36,25,10]
def myfunc(a):
    if a%2!=0:
        return True
    else:
        return False
val=myfunc(list2)
val

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [36]:
def square(a):
    return a**2
x=square(10)
x

100

In [43]:
list2=[1,20,50,55,69,58,78,96,36,25,10]


def func():
    list_sqr=[]
    for i in list2:
        sqr=i**2
        list_sqr.append(sqr)
        # print(i)

    print("list=",list2,'\nSquare List is:',list_sqr)
func()

list= [1, 20, 50, 55, 69, 58, 78, 96, 36, 25, 10]
Square List is: [1, 400, 2500, 3025, 4761, 3364, 6084, 9216, 1296, 625, 100]

In [44]:
def square(a):
    return a**2
x=list(map(square,list2))
x

[1, 400, 2500, 3025, 4761, 3364, 6084, 9216, 1296, 625, 100]

In [46]:
list2=[1,2,50,55,69,58,78,96,36,25,10]

def cube(a1):
    return a1**3

list1=list(map(cube,list2))
list1

[1, 8, 125000, 166375, 328509, 195112, 474552, 884736, 46656, 15625, 1000]

In [47]:
list2=[1,2,50,55,69,58,78,96,36,25,10]

def add(a3):
    return a3+10


list2=list(map(add,list2))
list2

[11, 12, 60, 65, 79, 68, 88, 106, 46, 35, 20]

# reduce()

 * __Required: from functools import reduce__
 * __system:reduce(functions,sequence)__

In [49]:
from functools import reduce

In [50]:
def add(x,y):
    return x+y

x=reduce(add,[47,11,42,13])
x

113

In [51]:
def add(x,y):
    return x-y

x=reduce(add,[47,11,42,13])
x

-19

In [53]:
def add(x,y):
    return x*y

list1=[47,11,42,13]
x=reduce(add,list1)
x

282282

In [54]:
import pandas as pd

In [55]:
values_list=[[1,2,3],[4,5,6],[7,8,9]]
print(values_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [65]:
df=pd.DataFrame(values_list,columns=['col1','col2','col3'],index=['a','b','c'])
df

   col1  col2  col3
a     1     2     3
b     4     5     6
c     7     8     9

In [82]:
df=pd.DataFrame(values_list)
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [76]:
# apply

df=df.apply(lambda x:x+5)
df

    0   1   2
0   6   7   8
1   9  10  11
2  12  13  14

In [78]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [83]:
df=df.apply(lambda y:y*10)
df

    0   1   2
0  10  20  30
1  40  50  60
2  70  80  90