In [1]:
#  sequence datatype of python (string)

print('Hello world')

Hello world

In [2]:
print('100')

100

In [3]:
print('!@#$%')

!@#$%

In [4]:
$%

SyntaxError: invalid syntax (3856800116.py, line 1)

In [5]:
message="Hello world"
print(message)

Hello world

In [6]:
# index value

x="Hello Python"
x

'Hello Python'

In [20]:
# positive indexing
print(x[0])
print(x[1])
print(x[2])
print(x[3])
print(x[4])
print(x[5])
print(x[6])
print(x[7])
print(x[8])
print(x[9])
print(x[10])
print(x[11])
# print(x[12])

H
e
l
l
o

P
y
t
h
o
n

In [34]:
# negative indexing
print(x[-1])
print(x[-2])
print(x[-3])
print(x[-4])
print(x[-5])
print(x[-6])
print(x[-7])
print(x[-8])
print(x[-9])
print(x[-10])
print(x[-11])
print(x[-12])
# print(x[-13])

n
o
h
t
y
P

o
l
l
e
H

In [37]:
# Slicing of string.

x1='Hello world'
print(x1)
print(x1[0:5])    # n-1=5-1=4

Hello world
Hello

In [38]:
print(x1[6:12])

world

In [42]:
print(x[4:5])

o

In [43]:
# with the help of slicing print all text inside the string.

x="The Quick Brown fox jump over the lazy dog."
print(x[:])

The Quick Brown fox jump over the lazy dog.

In [44]:
print(x[:9])

The Quick

In [45]:
print(x[10:])

Brown fox jump over the lazy dog.

In [48]:
# reverse the string

x= 'Hello world'

print(x[::2])

Hlowrd

In [50]:
#
x="Hello world"
x[::3]

'Hlwl'

In [51]:
print(x[0:5:2])

Hlo

In [52]:
print(x[:5:2])

Hlo

In [53]:
print(x[6:12:2])

wrd

In [54]:
print(x[6::2])

wrd

In [55]:
# reverse

x1='Hello world'

x1[::-1]

'dlrow olleH'

In [56]:
x="Rishav"
x[::-1]

'vahsiR'

In [61]:
# input() -> it helps to take input from the user.

x=input('Enter your name')

print('Your Reversed Name is:',x[::-1])

Enter your name 100

Your Reversed Name is: 001

In [64]:
# input() -> it helps to take input from the user.

x=input('Enter your name')

print('Your Reversed Name is:',x[::-1])

Enter your name game

Your Reversed Name is: emag

# string operations

In [9]:
x="hello world"
print(type(x))
print(x)


# uppercase(), lowercase(), capitalize(), title(), casefold()

# uppercase(): It convert your text into upper.
upper1=x.upper()
print(upper1)

# lowercase(): It convert your text into lower.
lower1=x.lower()
print(lower1)

# capitalize: It contain first letter in capital otherone are in lower.
cap1=x.capitalize()
print(cap1)

# title: It convert first character in capital and after space first letter also in capital.

title1=x.title()
print(title1)


# len: it return total character or letter in your words.
print(len(x))  # including spaces.

<class 'str'>
hello world
HELLO WORLD
hello world
Hello world
Hello World
11

In [14]:
# replace

x="Hello world"

y=x.replace('world',"Rishav")
y

y1=y.replace('Hello',"Hye")
y1

'Hye Rishav'

In [25]:
# string formattin

txt="Hello {word}"   #{} it is placeholder

print(txt.format(word="World"))


txt1='Hey,My name is {} and I am {} years old.'
print(txt1.format('Rishav','100'))
print(txt1.format('100','Rishav'))

txt2='Hey,My name is {1} and I am {0} years old.'

print(txt2.format('100','Aman'))

txt3="Hello, My name is {c} and I am {b} years old. I belong from {a}."
print(txt3.format(c="Rishav",b="200",a="Assam"))

Hello World
Hey,My name is Rishav and I am 100 years old.
Hey,My name is 100 and I am Rishav years old.
Hey,My name is Aman and I am 100 years old.
Hello, My name is Rishav and I am 200 years old. I belong from Assam.