# 4. Tuples in python

 * __Tuples are immutable data types in Python.__
 * __They are enclosed with parenthesis and not with sequare braces.__
 * __Tuples are oredered, indexed collections data type.__
 * __Similar to the list, it has positive indexd satrts with [0] and netagive is [-1]__
 * __Tuples are comma seperated values.__
 * __Tuples are allowed to store multiple data types, list,string,float, integer, boolean,sets,dictionary etc.__

In [5]:
list1=[]
print(list1)
print(type(list1))

[]
<class 'list'>

In [6]:
tuple1=()  # parenthesis
print(tuple1)
print(type(tuple1))

()
<class 'tuple'>

In [10]:
tuple1=(1,)
print(tuple1)
print(type(tuple1))

(1,)
<class 'tuple'>

In [13]:
# tuple(): it takes exactly one element inside tuple() method

x=tuple("H")
x

('H',)

In [14]:
# tuple1

tuple1=('Hello world',3.147,1.618,2.718,True,False,('Hello Python','Google',"yahoo",'Safari','Firefox','edge'))
tuple1

('Hello world',
 3.147,
 1.618,
 2.718,
 True,
 False,
 ('Hello Python', 'Google', 'yahoo', 'Safari', 'Firefox', 'edge'))

In [15]:
print(type(tuple1))

<class 'tuple'>

In [18]:
# Accessing Positive index:
print(tuple1[0])
print(tuple1[1])

Hello world
3.147

In [27]:
# Accessing negative index:
print(tuple1[-1])

('Hello Python', 'Google', 'yahoo', 'Safari', 'Firefox', 'edge')

In [29]:
# Concatenation of tuple

tup1=('Hello world',)

tup2=('Hye Python',)
print(tup1+tup2)

('Hello world', 'Hye Python')

In [32]:
# Repetation of an element

tuple1=('Hello world',)
tuple1*5

('Hello world', 'Hello world', 'Hello world', 'Hello world', 'Hello world')

In [42]:
# Tuple is immutable data type in python

tuple1=('Hye Rishav','Dev','Ali')
tuple1

('Hye Rishav', 'Dev', 'Ali')

In [43]:
type(tuple1)

tuple

In [44]:
tuple1[0] = "Hello world"
tuple1

TypeError: 'tuple' object does not support item assignment

In [45]:
tuple1

('Hye Rishav', 'Dev', 'Ali')

In [46]:
del(tuple1[0])

TypeError: 'tuple' object doesn't support item deletion

In [49]:
# del(): You can not delete one element inside the tuple but you can delete the whole tuple.

tuple1

('Hye Rishav', 'Dev', 'Ali')

In [50]:
del(tuple1)

In [51]:
tuple1

NameError: name 'tuple1' is not defined

In [56]:
# Aggrigate function

# min,max,sum,avg,len

tup1=(10,20,30,40,50,45.23,89.20)
print(min(tup1))
print(max(tup1))
print(sum(tup1))
print(len(tup1))
print(sum(tup1)/len(tup1))

10
89.2
284.43
7
40.63285714285714