# 5. Sets in Python

 * __Set is one of the 4 built-in types in Python used to store collection of data including List,Tuples, and Dictionary.__
 * __Sets are unordered, but your can remove items and add new items.__
 * __Set elements are unique. Duplicate elements are not allowed.__
 * __A set itself may be modified, but the elements contained in the set must be of an immutable data type.__
 * __Sets are used to store multiple items in a single variable.__
 * __You can denote a set with a pair of curly brackets{}.__

In [3]:
y={}
print(y)
print(type(y))

{}
<class 'dict'>

In [5]:
# how to create empty set

y=set()  # it takes one parameter at one time.
print(y) 
print(type(y))

set()
<class 'set'>

In [11]:
# cheat sheet shift+tab

set1={'Hello world','Hello world','Hello World',True}
print(set1)
print(type(set1))

{True, 'Hello world', 'Hello World'}
<class 'set'>

In [14]:
# set()
list1=['Hello world','Hey Rishabh',"Hello world",True,False,10,10,10,10,20,20,20,30,30,30,30]
print(list1)


# converting list to set
set1=set(list1)
print(set1)

['Hello world', 'Hey Rishabh', 'Hello world', True, False, 10, 10, 10, 10, 20, 20, 20, 30, 30, 30, 30]
{False, True, 'Hey Rishabh', 'Hello world', 10, 20, 30}

In [15]:
list1[0]

'Hello world'

In [16]:
set1

{10, 20, 30, False, 'Hello world', 'Hey Rishabh', True}

In [17]:
set1[0]

TypeError: 'set' object is not subscriptable

In [18]:
set1

{10, 20, 30, False, 'Hello world', 'Hey Rishabh', True}

In [19]:
tuple1=('Hello world',10,10,10,20,20,20,20)
set2=set(tuple1)
print(set2)

{10, 20, 'Hello world'}

# set operations

# add() function

In [21]:
set2.add('Rishabh')

In [22]:
set2

{10, 20, 'Hello world', 'Rishabh'}

In [23]:
set2.append('Sahil')
set2

AttributeError: 'set' object has no attribute 'append'

In [24]:
set2

{10, 20, 'Hello world', 'Rishabh'}

In [26]:
# update()
set3={3,4,5,'Rishabh'}
set2.update(set3) # it takes one parameter at one time.

set2

{10, 20, 3, 4, 5, 'Hello world', 'Rishabh'}

In [27]:
set2

{10, 20, 3, 4, 5, 'Hello world', 'Rishabh'}

In [29]:
# how to delete element inside the set
# remove()
set2.remove(5)
set2

{10, 20, 3, 4, 'Hello world', 'Rishabh'}

In [30]:
set2.remove(5)
set2

KeyError: 5

In [31]:
# discard(): it removes the element if found, otherwise it doen't through an error perhapes it returns all element inside the set.
set2.discard(4)
set2

{10, 20, 3, 'Hello world', 'Rishabh'}

In [32]:
set2.discard(4)
set2

{10, 20, 3, 'Hello world', 'Rishabh'}

In [33]:
# union,intersection,difference,symmetric difference
# union: it returns unique value upon two sets.
a={2,4,6,8}
b={6,8,10,12}

# union
print(a.union(b))

{2, 4, 6, 8, 10, 12}

In [34]:
# intersection: it return duplicate value upon two sets.
a={2,4,6,8}
b={6,8,10,12}

print(a.intersection(b))

{8, 6}

In [35]:
# another method to print intersection

print(a&b)

{8, 6}

In [43]:
# difference (a-b) (b-a)
a={2,4,6,8}
b={6,8,10,12}


print(a.difference(b)) # a-b
print(b.difference(a))  #b-a

{2, 4}
{10, 12}

In [40]:
# anthoer method to find intersection between two sets.

print(a-b)
print(b-a)

{2, 4}
{10, 12}

In [45]:
# symmetric difference
a={'a','b','c','d','e','f'}
b={'d','e','f','g','h'}

print(a.symmetric_difference(b))

{'h', 'g', 'a', 'b', 'c'}

# Aggrigate function (min,max,len,avg,sum)

In [55]:
list1=[1,1,1,2,2,2,3,3,3,4,4,4,5,5,5]
set1={1,1,1,2,2,2,3,3,3,4,4,4,5,5,5}
print('The minimum element:',min(list1))
print('The minimum element:',min(set1))
print('The maximum elemnet:',max(list1))
print('The maximum element:',max(set1))
print('The total of list1:',sum(list1))
print('The total of set1:',sum(set1))
print('Total lenght of list1:',len(list1))
print('Total length of set1:',len(set1))
print('The average of list1:',sum(list1)/len(list1))
print('The average of set1:',sum(set1)/len(set1))

The minimum element: 1
The minimum element: 1
The maximum elemnet: 5
The maximum element: 5
The total of list1: 45
The total of set1: 15
Total lenght of list1: 15
Total length of set1: 5
The average of list1: 3.0
The average of set1: 3.0

# set is immutable element

In [57]:
set1={'Hello world',True,(10,20),['hello world']}
set1

TypeError: unhashable type: 'list'

In [59]:
set1[0]

TypeError: 'set' object is not subscriptable

In [60]:
# clear(): it removes all element inside the set and returns empty set.
set1

{(10, 20), 'Hello world', True}

In [61]:
set1.clear()
set1

set()

In [62]:
set1={'Hello world',True,(10,20)}
set1

{(10, 20), 'Hello world', True}

In [63]:
set1.pop()

True

In [64]:
set1

{(10, 20), 'Hello world'}

In [66]:
# copy() function
# deep() copy and shallow copy

a_original={2,4,6}
b_copy=a_original
print('Original set',a_original)
print('Copied set:',b_copy)

a_original.add('Hello world')
print(b_copy)

Original set {2, 4, 6}
Copied set: {2, 4, 6}
{2, 4, 'Hello world', 6}

In [69]:
# shallow copy
a_original={2,4,6}

b_copy1=a_original.copy()
print('Original set:',a_original)
print('Copied set:',b_copy1)


# adding element in the b_copy1

b_copy1.add('Hello world')
print(a_original)

Original set: {2, 4, 6}
Copied set: {2, 4, 6}
{2, 4, 6}