# 8. Loops in Python

 * __A for loop is used for iteration over a sequence (that is either a list, a tuple, a dictionary, a set, or a string.)__
 * __This is less like the for keyword in other programmning languages, and word more like an iterator method as found in other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __With the while loop we can execute a set of statemnts, as long as as a condition is true.__
 * __Note: remember to increment i, or else loop will continue forever.__
 * __The while loop requre ravalent variables to be ready, in this example we need to define an indexing variable i, which is set to be 1.__

# range() functions

 * __It is helpful to think of the range of the object as an ordered list.__
 * __To loop though a set of code a sepecified number of times, we can use the range() functions.__
 * __To range() function returns a sequence of numbers, starting from 0 by default and increments by 1. (by default value), and ends at a specified number.__

In [1]:
range(10)

range(0, 10)

In [2]:
range(30,50)

range(30, 50)

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
for i in range(50,60):
    print(i)

50
51
52
53
54
55
56
57
58
59

In [5]:
list1=[10,20,30,40,50,60,70,80,90,100]

for i in list1:
    print(i)

10
20
30
40
50
60
70
80
90
100

In [6]:
list1=['Hello','Apple',"boy",'cat','elephant','fan','gun','hen','ice-cream']

for x in list1:
    print(x)

Hello
Apple
boy
cat
elephant
fan
gun
hen
ice-cream

In [7]:
tuple1=('Hello','Apple',"boy",'cat','elephant','fan','gun','hen','ice-cream')


for i in tuple1:
    print(i)

Hello
Apple
boy
cat
elephant
fan
gun
hen
ice-cream

In [14]:
list1=[10,20,30,40,50,60,70,80,90,100]
#print(len(list1))
for i in range(len(list1)):
    print(list1[i]) # 10 20

10
20
30
40
50
60
70
80
90
100

In [15]:
# range()
for i in range(2,20):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [21]:
x# table print using for loop [19x1=19x2=38]
num=19

for i in range(1,11):
    print(num,'X',i,'=',num*i)

19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190

In [24]:
num=int(input('Enter any number:'))

for i in range(1,11):
    print("{}X{}={}".format(num,i,num*i))

Enter any number: 21

21X1=21
21X2=42
21X3=63
21X4=84
21X5=105
21X6=126
21X7=147
21X8=168
21X9=189
21X10=210

In [28]:
# string sotre

num1=int(input('Enter any number:'))

for i in range(1,10+1):
    print("%dX%d=%d"%(num1,i,num1*i))

Enter any number: 10

10X1=10
10X2=20
10X3=30
10X4=40
10X5=50
10X6=60
10X7=70
10X8=80
10X9=90
10X10=100

In [31]:
# range 50 all even number
list1=[]
for i in range(1,51):
    if i%2==0:
        list1.append(i)
        # print(i)

print(list1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [33]:
# filter odd number from user 
num=int(input('Enter any starting range:'))
odd_list1=[]
for i in range(1,num+1):
    if i%2!=0:
        odd_list1.append(i)


print(odd_list1)

Enter any starting range: 10

[1, 3, 5, 7, 9]

In [36]:
list1=[10,20,30,40,50,60,70,80,90,100]


for i in range(len(list1)):
    print(list1[i])

10
20
30
40
50
60
70
80
90
100

In [40]:
#find the sum of the list
sum1=0    #+10=10+20=30+30=60+40=100+50=150+60=210+70=280+80=360+90=450+100=550
for i in list1:
    sum1+=i
    # print(sum1)
    
print(sum1)

550

In [41]:
sum2=0
for x in list1:
    sum2=sum2+x
    
print(sum2)

550