# 8. Loops in Python

 * __A for loop is used for iteration over a sequence (that is either a list, a tuple, a dictionary, a set, or a string.)__
 * __This is less like the for keyword in other programmning languages, and word more like an iterator method as found in other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __With the while loop we can execute a set of statemnts, as long as as a condition is true.__
 * __Note: remember to increment i, or else loop will continue forever.__
 * __The while loop requre ravalent variables to be ready, in this example we need to define an indexing variable i, which is set to be 1.__

# range() functions

 * __It is helpful to think of the range of the object as an ordered list.__
 * __To loop though a set of code a sepecified number of times, we can use the range() functions.__
 * __To range() function returns a sequence of numbers, starting from 0 by default and increments by 1. (by default value), and ends at a specified number.__

In [1]:
range(10)

range(0, 10)

In [2]:
range(30,50)

range(30, 50)

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
for i in range(50,60):
    print(i)

50
51
52
53
54
55
56
57
58
59

In [5]:
list1=[10,20,30,40,50,60,70,80,90,100]

for i in list1:
    print(i)

10
20
30
40
50
60
70
80
90
100

In [6]:
list1=['Hello','Apple',"boy",'cat','elephant','fan','gun','hen','ice-cream']

for x in list1:
    print(x)

Hello
Apple
boy
cat
elephant
fan
gun
hen
ice-cream

In [7]:
tuple1=('Hello','Apple',"boy",'cat','elephant','fan','gun','hen','ice-cream')


for i in tuple1:
    print(i)

Hello
Apple
boy
cat
elephant
fan
gun
hen
ice-cream

In [14]:
list1=[10,20,30,40,50,60,70,80,90,100]
#print(len(list1))
for i in range(len(list1)):
    print(list1[i]) # 10 20

10
20
30
40
50
60
70
80
90
100

In [15]:
# range()
for i in range(2,20):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [21]:
x# table print using for loop [19x1=19x2=38]
num=19

for i in range(1,11):
    print(num,'X',i,'=',num*i)

19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190

In [24]:
num=int(input('Enter any number:'))

for i in range(1,11):
    print("{}X{}={}".format(num,i,num*i))

Enter any number: 21

21X1=21
21X2=42
21X3=63
21X4=84
21X5=105
21X6=126
21X7=147
21X8=168
21X9=189
21X10=210

In [28]:
# string sotre

num1=int(input('Enter any number:'))

for i in range(1,10+1):
    print("%dX%d=%d"%(num1,i,num1*i))

Enter any number: 10

10X1=10
10X2=20
10X3=30
10X4=40
10X5=50
10X6=60
10X7=70
10X8=80
10X9=90
10X10=100

In [31]:
# range 50 all even number
list1=[]
for i in range(1,51):
    if i%2==0:
        list1.append(i)
        # print(i)

print(list1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [33]:
# filter odd number from user 
num=int(input('Enter any starting range:'))
odd_list1=[]
for i in range(1,num+1):
    if i%2!=0:
        odd_list1.append(i)


print(odd_list1)

Enter any starting range: 10

[1, 3, 5, 7, 9]

In [36]:
list1=[10,20,30,40,50,60,70,80,90,100]


for i in range(len(list1)):
    print(list1[i])

10
20
30
40
50
60
70
80
90
100

In [40]:
#find the sum of the list
sum1=0    #+10=10+20=30+30=60+40=100+50=150+60=210+70=280+80=360+90=450+100=550
for i in list1:
    sum1+=i
    # print(sum1)
    
print(sum1)

550

In [41]:
sum2=0
for x in list1:
    sum2=sum2+x
    
print(sum2)

550

 * __Q 1: Write a program that checks if a given number is  
 positive, negative, or zero.__

 * __Q 2: Create a loop that prints the first 10 even numbers.__

 * __Q 3: Implement a program that finds the largest number 
 in a list.__


 * __Q 4. Create a program that takes a year as input and checks if 
it is a leap year or not)__

 * __Q 5.Given a list of integers, find all the even numbers and 
store them in a new list)__
 * __Q 6.Write a Python program to check if a given number is a 
prime number)__

 * __Q 7. Create a program that generates the Fibonacci sequence 
up to a given number of terms)__
 * __Q 8. Given a list of names, print all names starting with the 
letter 'A')__
 * __Q 9. Implement a program that prints the multiplication table 
of a given number)__
 * __Q 10. Write a program that calculates the factorial of a given 
number)__

 * __Q 11. Create a loop that prints all prime numbers between 1 and 
50)__

 * __Q 12. Given a list of words, count the number of words with 
more than five characters)__

In [58]:
# Given a list of words, count the number of words with more than five characters

list1=['Apple',"Ball","Cat","Dog","Elephant","Fish","Gun",'Hen',"Ice-Cream","Jung","Kite","Lion","Monkey"]

for i in list1:
    if len(i)>=5:
        print(i)
    # print(i)
else:
    print('These are word.')

Apple
Elephant
Ice-Cream
Monkey
These are word.

In [59]:
# while loop

# number 1=10

i=1       # 1,2,3
while i<=10:
    print(i)
    i+=1

else:
    print('These are the Natural number of 1 to 10')

1
2
3
4
5
6
7
8
9
10
These are the Natural number of 1 to 10

In [57]:
# 2 table

i=2
while i<=20:
    print(i)
    i+=2

2
4
6
8
10
12
14
16
18
20

In [64]:
num=int(input('Enter any number:'))

i=1
while i<=num:
    print(num,'X',i,'=',num*i)
    i+=1

Enter any number: 10

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [66]:
num=int(input('Enter any number'))

i=1
while i<=num:
    print(num,i,num*i)
    i+=1

Enter any number 10

10 1 10
10 2 20
10 3 30
10 4 40
10 5 50
10 6 60
10 7 70
10 8 80
10 9 90
10 10 100

In [70]:
# 10 sum of odd or even using while loop

num=10
list_even=[]
sum_even=0   #2+4=6+6=12+8=20+10=30
list_odd=[]
sum_odd=0
i=0
while i<=num:
    if i%2==0:
        list_even.append(i)
        sum_even+=i
    else:
        list_odd.append(i)
        sum_odd+=i
    i+=1

print('List of even:',list_even,'=',sum_even,'\nList of Odd',list_odd,'=',sum_odd)

List of even: [0, 2, 4, 6, 8, 10] = 30
List of Odd [1, 3, 5, 7, 9] = 25

In [71]:
# take input from user and filter out even or odd.

num=int(input('Enter your range:'))
list_even1=[]
list_odd1=[]

i=0
while i<=num:
    if i%2==0:
        list_even1.append(i)
    else:
        list_odd1.append(i)
    i+=1

print('List of even is:',list_even1,'\nList of odd is:',list_odd1)

Enter your range: 20

List of even is: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
List of odd is: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [77]:
# print using for loop infinite


for i in iter(int,1):
    num1=int(input('Enter any range:'))
    list_even=[]
    for x in range(1,num1):
        if x%2==0:
            
            list_even.append(x)
    print(list_even) 
        
    break

Enter any range: 10

[2, 4, 6, 8]

In [78]:
num1=int(input('Enter any range:'))
list_even=[]
for x in range(1,num1):
    if x%2==0:
        list_even.append(x)

print(list_even)

Enter any range: 10

[2, 4, 6, 8]

In [80]:
# break and continue in for loop

for i in range(1,10):
    if i==5:
        break
    print(i)

1
2
3
4

In [82]:
# continue in for loop

for i in range(1,10):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [84]:
# while loop break and continue

i=0
while i<=10:
    if i==5:
        break
    print(i)
    i+=1

0
1
2
3
4

In [90]:
# continue in while loop

i=0
while i<=10:
    i+=1
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10
11